<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <style media="screen">
    .jumbotron {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .jumbotron h1 {
      text-align: center;
    }

    .alert {
      margin: 0px;
    }
    p {
      text-align: center;
    }
    .centered-images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    }

  .centered-images img {
    margin: 10px; /* Adds space around each image */


  </style>

  <title></title>
</head>

<body>

  {% include "vehicle/navbar.html" %}
  <br><br>
  <div class="jumbotron" style="margin-bottom: 0px;margin-top: 0px;">
    <h1 class="display-4">Service Management Portal</h1>
    <p class="lead">Developed by Team 4a</p>
    <hr class="my-4">
    <p>Team Members</p>
    <div class="centered-images">
      <div class="image-container">
        <img src="{% static "images/Farima.jpeg" %}" width="180" height="180" alt="Farima" />
         <p>Farima</p>
      </div>
      <div class="image-container">
        <img src="{% static "images/Kavya.jpg" %}" width="180" height="180" alt="Kavya" />
        <p>Kavya H C</p>
      </div>
      <div class="image-container">
        <img src="{% static "images/Pranil.jpg" %}" width="180" height="180" alt="Pranil" />
        <p>Pranil G</p>
      </div>
      <div class="image-container">
        <img src="{% static "images/Richa.jpeg" %}" width="180" height="180" alt="Richa" />
        <p>Richa Padhi</p>
      </div>
      <div class="image-container">
        <img src="{% static "images/Soheil.jpg" %}" width="180" height="180" alt="Soheil" />
        <p>Soheil Nasiri</p>
      </div>
      <div class="image-container">
        <img src="{% static "images/Theertha.jpg" %}" width="180" height="180" alt="Theertha" />
        <p>Theertha Bharathan</p>
      </div>
    </div>
  </div>

</body>

</html>
