{% extends 'vehicle/customerbase.html' %}
{% block content %}
<style>
    .button {
    background-color: #2E1C2B; /* Base color to match the UI buttons */
    color: #EAEAEA;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 20px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    display: inline-block;
    margin: 0 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button:hover {
    background-color: #5E2750;
    color: #FFF;
}

.button:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.button.decline {
    background-color: #EAEAEA; /* Neutral color for less prominence */
    color: #4A1942; /* Dark color for the text to maintain legibility */
    border: 2px solid #4A1942; /* Solid border to add definition */
}

.button.decline:hover {
    background-color: #D8D8D8; /* Slightly darker on hover */
    color: #4A1942; /* Maintain text color on hover */
}

.button.decline:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

}

.button.disabled {
    background-color: #A8A8A8;
    color: #FFF;
    cursor: not-allowed;
    box-shadow: none;
}

.button.disabled:hover {
    background-color: #A8A8A8;
    color: #FFF;
}



    .request-table-container {
        max-width: 100%;
        margin: 20px auto;
        overflow-x: auto; /* For responsive table */
        border-radius: 15px; /* Rounded corners for the table container */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle lift */
    }

    table {
        width: 100%;
        border-collapse: collapse;
        overflow: hidden; /* Hide overflowing content within the table */
        border-radius: 15px; /* Rounded corners for the table */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle lift */
    }

    th, td {
        border: 1px solid #ddd;
        padding: 12px;
        text-align: left;
    }

    th {
        background: linear-gradient(45deg, #4A1942, #893168); /* Gradient background for header */
        color: #EAEAEA; /* Text color for header */
    }

    tr {
        transition: background 0.3s ease; /* Smooth transition for row background color */
    }

    tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    tr:hover {
        background-color: #EAEAEA; /* Background color on hover */
    }
    .card-header h3 {
        color: #4A1942; /* Change this to the desired font color */
        text-align: center;
    }
     table a {
        display: inline-block;
        width: 180px;
        padding: 10px 20px;
        border: 2px solid #2E1C2B;
        border-radius: 20px;
        background-color: #2E1C2B;
        color: #EAEAEA;
        text-decoration: none;
        font-weight: bold;
        font-size: 16px; /* Set the desired font size */
        text-align: center;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    table a:hover {
        background-color: #893168;
        border-color: #893168;
        color: #EAEAEA;
    }

    /* Display Accept and Decline buttons side by side */
    table .button-container {
        display: flex;
    }

    /* Style Accept and Decline buttons with smaller font size */
    table .button {
        margin-right: 5px;
        font-size: 12px; /* Set the desired font size */
    }
     .button-container {
        display: flex;
        justify-content: center;
        gap: 10px;
    }
</style>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        loadStoredStates();
        addEventListeners();
    });

    function addEventListeners() {
        var acceptButtons = document.querySelectorAll('[id^="accept-button-"]');
        var declineButtons = document.querySelectorAll('[id^="decline-button-"]');

        acceptButtons.forEach(function(button) {
            button.addEventListener('click', function(event) {
                var offerId = this.id.split('-').pop();
                handleOfferResponse(event, true, offerId);
            });
        });

        declineButtons.forEach(function(button) {
            button.addEventListener('click', function(event) {
                var offerId = this.id.split('-').pop();
                handleOfferResponse(event, false, offerId);
            });
        });
    }

    function handleOfferResponse(event, isAccepted, offerId) {
        event.preventDefault();

        var button = isAccepted ? document.getElementById("accept-button-" + offerId) : document.getElementById("decline-button-" + offerId);
        button.value = 'Processing...';
        button.disabled = true;

        var xhr = new XMLHttpRequest();
        xhr.open("POST", "https://agiledev3a.pythonanywhere.com/p3aplatform/api/post_service_offer_response", true);
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        xhr.onreadystatechange = function() {
            if (this.readyState == 4) {
                button.disabled = false;
                if (this.status == 200) {
                    updateButtonState(offerId, isAccepted);
                    localStorage.setItem(offerId, isAccepted ? "Accepted" : "Declined");
                } else {
                    button.value = isAccepted ? 'Accept' : 'Decline';
                    console.error('Error processing request');
                }
            }
        };
        xhr.send("isAccepted=" + isAccepted + "&offerId=" + offerId);
    }

    function updateButtonState(offerId, isAccepted) {
        var acceptButton = document.getElementById("accept-button-" + offerId);
        var declineButton = document.getElementById("decline-button-" + offerId);
        if (isAccepted) {
            acceptButton.value = "Accepted";
            acceptButton.disabled = true;
            acceptButton.classList.add('disabled');
            declineButton.style.display = "none";
        } else {
            declineButton.value = "Declined";
            declineButton.disabled = true;
            declineButton.classList.add('disabled');
            acceptButton.style.display = "none";
        }
    }

    function loadStoredStates() {
        var acceptButtons = document.querySelectorAll('[id^="accept-button-"]');
        acceptButtons.forEach(function(button) {
            var offerId = button.id.split('-').pop();
            var state = localStorage.getItem(offerId);
            if (state) {
                updateButtonState(offerId, state === "Accepted");
            }
        });
    }
</script>

<div class="wrapper">
    <div class="row">
        <div class="col-12 col-m-12 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h3 style="color:#893168; text-align:center">Offers</h3>
                </div>
                <div class="card-content">
                    <table>
                        <thead>
                            <tr>
                                <th>Service ID</th>
                                <th>Project Information</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Work Location</th>
                                <th>Master Agreement Type</th>
                                <th>Domain</th>
                                <th>Role</th>
                                <th>Technology</th>
                                <th>Experience</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for offer in offers %}
                            <tr>
                                <td><a href="?service_id={{ offer.serviceId }}">{{ offer.serviceId }}</a></td>
                                <td>{{ offer.projectInfo }}</td>
                                <td>{{ offer.startDate }}</td>
                                <td>{{ offer.endDate }}</td>
                                <td>{{ offer.workLocation }}</td>
                                <td>{{ offer.masterAgreementName }}</td>
                                <td>{{ offer.domain }}</td>
                                <td>{{ offer.role }}</td>
                                <td>{{ offer.technology }}</td>
                                <td>{{ offer.experience }}</td>
                            </tr>
                            {% if selected_service_id|stringformat:"s" == offer.serviceId|stringformat:"s" and specific_offers %}
                            <tr>
                                <td colspan="9" style="text-align: center;">
                                    <div style="display: inline-block; width: 100%; max-width: 650px;"> <!-- Adjust max-width as needed -->
                                        <table style="width: 100%; margin: auto;">
                                            <thead>
                                                <tr>
                                                    <th style="text-align: center;">Employee Name</th>
                                                    <th style="text-align: center;">Role</th>
                                                    <th style="text-align: center;">Experience</th>
                                                    <th style="text-align: center;">Price</th>
                                                    <th colspan="2" style="text-align: center;">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for specific_offer in specific_offers %}
                                                <tr>
                                                    <td style="text-align: center;">{{ specific_offer.employee.employeeName }}</td>
                                                    <td style="text-align: center;">{{ specific_offer.employee.employeeRole }}</td>
                                                    <td style="text-align: center;">{{ specific_offer.employee.employeeExp }} years</td>
                                                    <td style="text-align: center;">{{ specific_offer.price }}</td>
                                                    <td>
                                                        <div class="button-container">
                                                        {% if specific_offer.isAccepted == True %}
                                                            <input type="button" class="button disabled" value="Accepted" disabled>
                                                        {% elif specific_offer.isAccepted == False %}
                                                            <input type="button" class="button decline disabled" value="Declined" disabled>
                                                        {% else %}
                                                            <input type="button" id="accept-button-{{ specific_offer.offerId }}" class="button" value="Accept" onclick="handleOfferResponse(event, true, '{{ specific_offer.offerId }}')">
                                                            <input type="button" id="decline-button-{{ specific_offer.offerId }}" class="button decline" value="Decline" onclick="handleOfferResponse(event, false, '{{ specific_offer.offerId }}')">
                                                        {% endif %}
                                                        </div>
                                                    </td>
                                                </tr>
                                                {% endfor %}

                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>

                            {% elif selected_service_id|stringformat:"s" == offer.serviceId|stringformat:"s" %}
                                <tr>
                                    <td colspan="9">No offers available for this service.</td>
                                </tr>
                            {% endif %}
                            {% endfor %}
                            {% if not offers %}
                            <tr>
                                <td colspan="9">No service requests available.</td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function disableOtherButtons() {
        var buttons = document.getElementsByClassName('offer-button');
        for (var i = 0; i < buttons.length; i++) {
            buttons[i].disabled = true;
        }
    }
</script>
{% endblock content %}
